# Northwind Product Analysis
***
***

Northwind is a fictional wholesaler of various food products.  The goal of this project is to use queries and visualizations, using the results of those queries, to present insights about the organization's products.

In [1]:
%load_ext sql
%sql sqlite:///northwind.sqlite3
%matplotlib inline
import matplotlib.pyplot as plt

## Data Overview

### Tables

In [2]:
%%sql
-- Tables in the database
SELECT name
FROM sqlite_master
WHERE type='table'
ORDER BY name

Done.

[('Categories',),
 ('Customers',),
 ('EmployeeTerritories',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Region',),
 ('Shippers',),
 ('Suppliers',),
 ('Territories',)]

### Product Categories

In [3]:
%%sql
-- Ignore picture field
SELECT CategoryID, CategoryName, Description
FROM Categories;

Done.

[(1, 'Beverages', b'Soft drinks, coffees, teas, beers, and ales\x00'),
 (2, 'Condiments', b'Sweet and savory sauces, relishes, spreads, and seasonings\x00'),
 (3, 'Confections', b'Desserts, candies, and sweet breads\x00'),
 (4, 'Dairy Products', b'Cheeses\x00'),
 (5, 'Grains/Cereals', b'Breads, crackers, pasta, and cereal\x00'),
 (6, 'Meat/Poultry', b'Prepared meats\x00'),
 (7, 'Produce', b'Dried fruit and bean curd\x00'),
 (8, 'Seafood', b'Seaweed and fish\x00')]

### Products

In [4]:
%%sql
SELECT *
FROM Products
LIMIT 10;

Done.

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.0, 39, 0, 10, 0),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0, 17, 40, 25, 0),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0, 13, 70, 25, 0),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0, 53, 0, 0, 0),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 0, 0, 0, 1),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25.0, 120, 0, 25, 0),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30.0, 15, 0, 10, 0),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40.0, 6, 0, 0, 0),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97.0, 29, 0, 0, 1),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31.0, 31, 0, 0, 0)]

In [5]:
%%sql
SELECT COUNT(*) AS 'Number of Products'
FROM Products;

Done.

[(77,)]

### Suppliers

In [6]:
%%sql
SELECT *
FROM Suppliers
LIMIT 10;

Done.

[(1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', None, 'EC1 4SD', 'UK', '(171) 555-2222', None, None),
 (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', None, b'#CAJUN.HTM#\x00'),
 (3, "Grandma Kelly's Homestead", 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', None),
 (4, 'Tokyo Traders', 'Yoshi Nagase', 'Marketing Manager', '9-8 Sekimai Musashino-shi', 'Tokyo', None, '100', 'Japan', '(03) 3555-5011', None, None),
 (5, "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra', 'Export Administrator', 'Calle del Rosal 4', 'Oviedo', 'Asturias', '33007', 'Spain', '(98) 598 76 54', None, None),
 (6, "Mayumi's", 'Mayumi Ohno', 'Marketing Representative', '92 Setsuko Chuo-ku', 'Osaka', None, '545', 'Japan', '(06) 431-7877', None, b"Mayumi's (on the World Wide Web)#http://www.microsoft.com/accessdev/sampleapps/mayumi.htm#\x00"),
 (7, 'Pavlova, Ltd.', 'Ian Devling', 'Marketing Manager', '74 Rose St. Moonie Ponds', 'Melbourne', 'Victoria', '3058', 'Australia', '(03) 444-2343', '(03) 444-6588', None),
 (8, 'Specialty Biscuits, Ltd.', 'Peter Wilson', 'Sales Representative', "29 King's Way", 'Manchester', None, 'M14 GSD', 'UK', '(161) 555-4448', None, None),
 (9, 'PB Knackebrod AB', 'Lars Peterson', 'Sales Agent', 'Kaloadagatan 13', 'Goteborg', None, 'S-345 67', 'Sweden', '031-987 65 43', '031-987 65 91', None),
 (10, 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Marketing Manager', 'Av. das Americanas 12.890', 'Sao Paulo', None, '5442', 'Brazil', '(11) 555 4640', None, None)]

In [7]:
%%sql
SELECT COUNT(*) AS 'Number of Suppliers'
FROM Suppliers;

Done.

[(29,)]

### Order Details

In [8]:
%%sql
SELECT *
FROM OrderDetails
LIMIT 10;

Done.

[(10248, 11, 14.0, 12, 0.0),
 (10248, 42, 9.8, 10, 0.0),
 (10248, 72, 34.8, 5, 0.0),
 (10249, 14, 18.6, 9, 0.0),
 (10249, 51, 42.4, 40, 0.0),
 (10250, 41, 7.7, 10, 0.0),
 (10250, 51, 42.4, 35, 0.15),
 (10250, 65, 16.8, 15, 0.15),
 (10251, 22, 16.8, 6, 0.05),
 (10251, 57, 15.6, 15, 0.05)]

In [9]:
%%sql
SELECT COUNT(*) AS 'Number of Records in Order Details'
FROM OrderDetails;

Done.

[(2155,)]