# Northwind Product Analysis
***
***

Northwind is a fictional wholesaler of various food products.  The goal of this project is to use queries and visualizations, using the results of those queries, to present insights about the organization's products.

In [1]:
%load_ext sql
%sql sqlite:///northwind.sqlite3
%matplotlib inline
import matplotlib.pyplot as plt

## Data Overview

### Tables

In [2]:
%%sql
-- Tables in the database
SELECT name
FROM sqlite_master
WHERE type='table'
ORDER BY name

Done.

[('Categories',),
 ('Customers',),
 ('EmployeeTerritories',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Region',),
 ('Shippers',),
 ('Suppliers',),
 ('Territories',)]

### Product Categories

In [3]:
%%sql
-- Ignore picture field
SELECT CategoryID, CategoryName, Description
FROM Categories;

Done.

[(1, 'Beverages', b'Soft drinks, coffees, teas, beers, and ales\x00'),
 (2, 'Condiments', b'Sweet and savory sauces, relishes, spreads, and seasonings\x00'),
 (3, 'Confections', b'Desserts, candies, and sweet breads\x00'),
 (4, 'Dairy Products', b'Cheeses\x00'),
 (5, 'Grains/Cereals', b'Breads, crackers, pasta, and cereal\x00'),
 (6, 'Meat/Poultry', b'Prepared meats\x00'),
 (7, 'Produce', b'Dried fruit and bean curd\x00'),
 (8, 'Seafood', b'Seaweed and fish\x00')]

### Products

In [18]:
%%sql
SELECT *
FROM Products
LIMIT 5;

Done.

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.0, 39, 0, 10, 0),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0, 17, 40, 25, 0),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0, 13, 70, 25, 0),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0, 53, 0, 0, 0),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 0, 0, 0, 1)]

In [5]:
%%sql
SELECT COUNT(*) AS 'Number of Products'
FROM Products;

Done.

[(77,)]

### Suppliers

In [19]:
%%sql
SELECT *
FROM Suppliers
LIMIT 5;

Done.

[(1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', None, 'EC1 4SD', 'UK', '(171) 555-2222', None, None),
 (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', None, b'#CAJUN.HTM#\x00'),
 (3, "Grandma Kelly's Homestead", 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', None),
 (4, 'Tokyo Traders', 'Yoshi Nagase', 'Marketing Manager', '9-8 Sekimai Musashino-shi', 'Tokyo', None, '100', 'Japan', '(03) 3555-5011', None, None),
 (5, "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra', 'Export Administrator', 'Calle del Rosal 4', 'Oviedo', 'Asturias', '33007', 'Spain', '(98) 598 76 54', None, None)]

In [7]:
%%sql
SELECT COUNT(*) AS 'Number of Suppliers'
FROM Suppliers;

Done.

[(29,)]

### Order Details

In [20]:
%%sql
SELECT *
FROM OrderDetails
LIMIT 5;

Done.

[(10248, 11, 14.0, 12, 0.0),
 (10248, 42, 9.8, 10, 0.0),
 (10248, 72, 34.8, 5, 0.0),
 (10249, 14, 18.6, 9, 0.0),
 (10249, 51, 42.4, 40, 0.0)]

In [9]:
%%sql
SELECT COUNT(*) AS 'Number of Records in Order Details'
FROM OrderDetails;

Done.

[(2155,)]

### Customers

In [21]:
%%sql
SELECT *
FROM Customers
LIMIT 5;

Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitucion 2222', 'Mexico D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taqueria', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'Mexico D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbkop', 'Christina Berglund', 'Order Administrator', 'Berguvsvagen  8', 'Lulea', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

In [12]:
%%sql
SELECT *
FROM Region;

Done.

[(1, 'Eastern                                           '),
 (2, 'Western                                           '),
 (3, 'Northern                                          '),
 (4, 'Southern                                          ')]

In [15]:
%%sql
SELECT *
FROM Territories;

Done.

[('01581', 'Westboro                                          ', 1),
 ('01730', 'Bedford                                           ', 1),
 ('01833', 'Georgetow                                         ', 1),
 ('02116', 'Boston                                            ', 1),
 ('02139', 'Cambridge                                         ', 1),
 ('02184', 'Braintree                                         ', 1),
 ('02903', 'Providence                                        ', 1),
 ('03049', 'Hollis                                            ', 3),
 ('03801', 'Portsmouth                                        ', 3),
 ('06897', 'Wilton                                            ', 1)]

## Data Exploration

In [16]:
%%sql
--Number of products per category
SELECT c.CategoryName, COUNT(*) AS Count
FROM Products p
JOIN Categories c ON p.CategoryID = c.CategoryID
GROUP BY c.CategoryName
ORDER BY Count DESC;

Done.

[('Confections', 13),
 ('Beverages', 12),
 ('Condiments', 12),
 ('Seafood', 12),
 ('Dairy Products', 10),
 ('Grains/Cereals', 7),
 ('Meat/Poultry', 6),
 ('Produce', 5)]

In [17]:
%%sql
--Number of products by supplier
SELECT s.CompanyName, COUNT(*) AS Count
FROM Products p
JOIN Suppliers s ON p.SupplierID = s.SupplierID
GROUP BY s.CompanyName
ORDER BY Count DESC;

Done.

[('Pavlova, Ltd.', 5),
 ('Plutzer Lebensmittelgrobmarkte AG', 5),
 ('New Orleans Cajun Delights', 4),
 ('Specialty Biscuits, Ltd.', 4),
 ('Bigfoot Breweries', 3),
 ('Exotic Liquids', 3),
 ('Formaggi Fortini s.r.l.', 3),
 ("G'day, Mate", 3),
 ("Grandma Kelly's Homestead", 3),
 ('Heli Subwaren GmbH & Co. KG', 3),
 ('Karkki Oy', 3),
 ('Leka Trading', 3),
 ("Mayumi's", 3),
 ('Norske Meierier', 3),
 ('Svensk Sjofoda AB', 3),
 ('Tokyo Traders', 3),
 ('Aux joyeux ecclesiastiques', 2),
 ("Cooperativa de Quesos 'Las Cabras'", 2),
 ("Forets d'erables", 2),
 ('Gai paturage', 2),
 ('Lyngbysild', 2),
 ('Ma Maison', 2),
 ('New England Seafood Cannery', 2),
 ('PB Knackebrod AB', 2),
 ('Pasta Buttini s.r.l.', 2),
 ('Zaanse Snoepfabriek', 2),
 ('Escargots Nouveaux', 1),
 ('Nord-Ost-Fisch Handelsgesellschaft mbH', 1),
 ('Refrescos Americanas LTDA', 1)]

In [53]:
%%sql
--Average number of products per supplier
SELECT AVG(Count) AS 'Average Products Per Supplier'
FROM (SELECT COUNT(*) AS Count
FROM Products p
JOIN Suppliers s ON p.SupplierID = s.SupplierID
GROUP BY s.CompanyName) product_counts;

Done.

[(2.6551724137931036,)]

In [26]:
%%sql
--Top 10 most ordered products
SELECT p.ProductName, COUNT(*) AS Count
FROM Products p
JOIN OrderDetails od ON p.ProductID = od.ProductID
JOIN Orders o ON od.OrderID = o.OrderID
GROUP BY p.ProductName
ORDER BY Count DESC
LIMIT 100;

Done.

[('Raclette Courdavault', 54),
 ('Camembert Pierrot', 51),
 ('Gorgonzola Telino', 51),
 ('Guarana Fantastica', 51),
 ('Gnocchi di nonna Alice', 50),
 ('Tarte au sucre', 48),
 ("Jack's New England Clam Chowder", 47),
 ('Rhonbrau Klosterbier', 46),
 ('Chang', 44),
 ('Pavlova', 43),
 ('Flotemysost', 42),
 ('Boston Crab Meat', 41),
 ('Konbu', 40),
 ('Lakkalikoori', 39),
 ('Manjimup Dried Apples', 39),
 ('Outback Lager', 39),
 ("Sir Rodney's Scones", 39),
 ('Chai', 38),
 ('Mozzarella di Giovanni', 38),
 ('Original Frankfurter grune Sobe', 38),
 ('Queso Cabrales', 38),
 ('Alice Mutton', 37),
 ('Teatime Chocolate Biscuits', 37),
 ('Steeleye Stout', 36),
 ('Tourtiere', 36),
 ('Scottish Longbreads', 34),
 ('Ikura', 33),
 ('Pate chinois', 33),
 ('Rossle Sauerkraut', 33),
 ('Geitost', 32),
 ('Gumbar Gummibarchen', 32),
 ('Louisiana Fiery Hot Pepper Sauce', 32),
 ('Nord-Ost Matjeshering', 32),
 ('Thuringer Rostbratwurst', 32),
 ('Gudbrandsdalsost', 31),
 ('Inlagd Sill', 31),
 ('Chartreuse verte', 30),
 ('Perth Pasties', 30),
 ('Singaporean Hokkien Fried Mee', 30),
 ('Wimmers gute Semmelknodel', 30),
 ('Filo Mix', 29),
 ("Uncle Bob's Organic Dried Pears", 29),
 ('Ipoh Coffee', 28),
 ('Carnarvon Tigers', 27),
 ('Spegesild', 27),
 ('Cote de Blaye', 24),
 ('Gula Malacca', 24),
 ("Sirop d'erable", 24),
 ('Ravioli Angelo', 23),
 ('Tofu', 22),
 ('Maxilaku', 21),
 ('Zaanse koeken', 21),
 ("Chef Anton's Cajun Seasoning", 20),
 ('Tunnbrod', 20),
 ('Sasquatch Ale', 19),
 ('Escargots de Bourgogne', 18),
 ('NuNuCa Nub-Nougat-Creme', 18),
 ('Vegie-spread', 17),
 ("Sir Rodney's Marmalade", 16),
 ('Mascarpone Fabioli', 15),
 ("Gustaf's Knackebrod", 14),
 ('Queso Manchego La Pastora', 14),
 ('Rod Kaviar', 14),
 ('Rogede sild', 14),
 ('Longlife Tofu', 13),
 ('Northwoods Cranberry Sauce', 13),
 ('Aniseed Syrup', 12),
 ("Grandma's Boysenberry Spread", 12),
 ("Chef Anton's Gumbo Mix", 10),
 ('Laughing Lumberjack Lager', 10),
 ('Valkoinen suklaa', 10),
 ('Schoggi Schokolade', 9),
 ('Louisiana Hot Spiced Okra', 8),
 ('Chocolade', 6),
 ('Genen Shouyu', 6),
 ('Gravad lax', 6),
 ('Mishi Kobe Niku', 5)]